*, ::before, ::after {
    box-sizing: border-box;
}
html {
    width: 100%;
    min-height: 100vh;
}
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Light', 'Arial', sans-serif;
    letter-spacing: 0.02rem;
    font-size: 14px;
}
.container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
}